@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,59,59);
    background: radial-gradient(circle, rgba(255,59,59,1) 0%, rgba(255,255,255,1) 100%);
}
.login, .register{
    width: 38%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background:rgb(255, 255, 255);
    border-radius: 50px;
    border: 4px red;
    border-style: dashed solid;
}
h1{
    color: red;
}
.login div, .register div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    
}
.login input, .register input{
    height: 30px;
}

/* .login input:focus, .register input:focus{
    outline: none;
} */
button[type="button"]{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
    border:solid 2px #ff0000;
    border-radius: 30px;
}

.correcto{
    outline: solid 1px rgb(94, 255, 0);
    
}

.incorrecto{
    outline: solid 1px red;
}

#mensajeNombre{
    transition: ease-in-out 1s;
    background-color: red;
    width: 400px;
}
#btnFormRegistro,#btnFormLogin{
    color: red;
    text-decoration: underline;
}

#btnFormRegistro,#btnFormLogin:hover{
    color: red;
    font-weight: bold;
    font-size: 10;
    transition: ease-in-out 2s;
}