<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/ViewUsuario.css" />
    <title>Usuario</title>
  </head>
  <body>
    <form id="form-login" action="" class="login">
      <div>
        <label for="">Usuario</label>
        <input id="login-usuario" name="login-usuario" type="text" />
      </div>
      <div>
        <label for="">contraseña</label>
        <input id="login-contraseña" name="login-contraseña" type="text" />
      </div>
      <button id="btn-login" type="button">Iniciar Seccion</button>
      <p id="btnFormLogin">¿No tiene cuenta?</p>
    </form>
    <form id="form-register" action="" class="register">
      <div>
        <label for="">Nombre Completo</label>
         <input id="registerNombre" name="registerNombre" type="text" />
      </div>
      <div>
        <label for="">Usuario</label>
        <input id="registerUsuario" name="registerUsuario" type="text" />
      </div>
      <div>
        <label for="">Correo Electronico</label>
        <input id="registerEmail" name="registerEmail" type="text" />
      </div>
      <div>
        <label for=""> contraseña</label>
        <input id="registerContraseña" name="registerContraseña" type="text" />
      </div>
      <div>
        <label for="">confirmar contraseña</label>
        <input id="registerConfirmar" name="registerConfirmar" type="text" />
      </div>
      <button id="btn-registrar" type="button">Registrarse</button>
      <p id="btnFormRegistro">¿Ya tiene una cuenta?</p>
    </form>
    <script type="module" src="/views/Public/js/script.js"></script>
    <SCript type="module" src="../js/scriptUsuario.js"></SCript>
  </body>
</html>
