<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/ViewUsuario.css" />
    <title>Usuario</title>
  </head>
  <body>
    <form id="form-login" action="" class="login">
      <div>
        <label for="">Usuario</label>
        <input name="login-usuario" type="text" />
      </div>
      <div>
        <label for="">contraseña</label>
        <input name="login-contraseña" type="text" />
      </div>
      <button>Iniciar Seccion</button>
      <p id="btnFormLogin">¿No tiene cuenta?</p>
    </form>
    <form id="form-register" action="" class="register">
      <div>
        <label for="">Nombre Completo</label>
        <input name="registerNombre" type="text" />
      </div>
      <div>
        <label for="">Usuario</label>
        <input name="registerUsuario" type="text" />
      </div>
      <div>
        <label for="">Correo Electronico</label>
        <input name="registerEmail" type="text" />
      </div>
      <div>
        <label for=""> contraseña</label>
        <input name="registerContraseña" type="text" />
      </div>
      <div>
        <label for="">confirmar contraseña</label>
        <input name="registerConfirmarCont" type="text" />
      </div>
      <button type="button">Registrarse</button>
      <p id="btnFormRegistro">¿Ya tiene una cuenta?</p>
    </form>
    <script src="/views/Public/js/script.js"></script>
  </body>
</html>
